body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0d0055;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.contenedor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: #333;
}
p {
    color:#cc0606;
    margin-bottom: 24px;
    font-size: 14px;
}

label {
    margin-top: 25px;
    font-weight: bold;
}

input {
    width: 70%;
    padding: 8px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    background-color: #e73529;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cd0000;
}

